.spec/connect.toml

node_modules/
**/node_modules/
**/dist/
**/dist-dev/
**/dist-report/
npm-debug.log*
.DS_Store
*.pem
*.env
typings/
*.tsbuildinfo
.npm
*.sql
index.ts
bin/
*.sh
deno.lock
package-lock.json
./package.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock
